@font-face {
    font-family: 'sans-light';
    src: url('Open_Sans/static/OpenSans/OpenSans-Light.ttf');
    font-style: normal;
    font-weight: 100px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'sans-light';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#display {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


#mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 64px;
    background-image: url('./img/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#mainInfo img {
    height: 5vh;
    width: auto;
}

#locationDisplay {
    font-size: 48px;
}

#tempDisplay {
    display: flex;
    font-size: 96px;
}


#localTime {
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: 48px;
}

#weatherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#left-container, #right-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
}

#right-container {
    align-items: center;
}

#windContainer, #humidityContainer {
    display: flex;
    align-items: center;
    gap: 8px;

}

/* for input */
#inputFields {
    border: 1px solid rgb(239, 239, 239);
}
input {
    padding: 8px;
    border: 0;
}
#location, #submit {
    padding: 16px;
    font-size: 16px;
    border: 0;
}

